.button_icons {
	margin-top: 6px;
}

/*
marks colors
#ffb7b7
#a8d1ff
#fff2a8
#ffc107
*/
.mark {
	padding: 0;
	background: linear-gradient(to right, #ffc107 50%, transparent 50%) right bottom;
	background-size: 205% 100%;
	color: black;
}

.mark.animate {
	animation: stripes 1.01s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes stripes {
	to {
		background-position: left bottom;
	}
}

#reader_zone_wrap {
	color: #080808;
}

.rangeSlider .rc-slider-handle {
	border: solid 2px black;
	outline: none !important;
}

.rangeSlider .rc-slider-handle:active {
	box-shadow: none;
}

*.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}